<h1>Resumes</h1>

<%= link_to '註冊', sign_up_users_path %>
<%= link_to '登入', sign_in_users_path %>

<%= link_to "新增履歷", new_resume_path %> 

<ul>
  <%= render partial: "resumes/resume", collection: @resumes %>
</ul>